<div class="page-ath-wrap">
    <div class="page-ath-content">
        <div class="page-ath-header">
            <a href="" class="page-ath-logo"><img src="assets/images/logo.png" srcset="assets/images/logo2x.png 2x" alt=""></a>
        </div>
        <div class="page-ath-form">
            <h2 class="page-ath-heading">EXRT Distribution #{{ rounds?.length }} <span>There will be only 1,000,000,000 EXRT issued, 500 million of which will be paid to EXRN token holders. </span></h2>
            <form #form="ngForm">
				<div class="input-item input-with-label">
					<div class="relative">
						<span class="input-icon input-icon-right"><em class="ti ti-wallet"></em></span>
						<input class="input-bordered" type="text" placeholder="Your Wallet Address" name="wallet" [(ngModel)]="userAddress" required pattern="0x[a-fA-F0-9]{40}" #inputWallet="ngModel">
					</div>
				</div>
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-6 mb-3">
                        <button class="btn btn-primary btn-block" (click)="checkWallet(form)">Sign In</button>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <a href="https://exrnchain.com/exrt/" target="_blank">Learn more about EXRT</a>
                    </div>
                </div>
                <div class="gaps-2x"></div>
            </form>
        </div>
        <div class="page-ath-footer">
            <ul class="footer-links">
                <li>&copy; 2019 EXRT Distribution App.</li>
            </ul>
        </div>
    </div>
    <div class="page-ath-gfx">
       <div class="w-100 d-flex justify-content-center">
           <div class="col-md-8 col-xl-5">
           </div>
       </div>
    </div>
</div>