<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form #walletForm="ngForm">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-1 col-lg-6 offset-lg-3">
            <input type="text" name="wallet" placeholder="Your wallet address" [(ngModel)]="userAddress" required pattern="0x[a-fA-F0-9]{40}" #inputWallet="ngModel">
          </div>
          <div class="col-12 col-md-1 col-lg-1 text-left">
            <button class="btn-block" mat-raised-button (click)="checkWallet(); walletForm.form.markAsPristine();" [disabled]="disableCheckWallet || inputWallet.invalid">CHECK</button>
          </div>
          <div class="col-12 col-md-8 offset-md-1 col-lg-6 offset-lg-3">
            <div *ngIf="inputWallet.invalid && inputWallet.dirty" class="alert alert-danger">
              Please provide a valid Ethereum wallet address.
            </div>
            <div *ngIf="displayHistory && inputWallet.dirty && inputWallet.valid" class="alert alert-warning">
              Please CHECK your Ethereum wallet address before SIGNUP.
            </div>
            <div *ngIf="showContributorEligibility && !inputWallet.dirty" class="alert alert-success">
		    Congratulations, you're allowed to receive 10x EXRT rewards on your {{ this.availableExrnDistributed | number: fractionSize }} EXRN!
            </div>
            <div *ngIf="showTransferReminder && !inputWallet.dirty" class="alert alert-info">
		    Transfer {{ this.totalExrnDistributed - this.availableExrnDistributed | number: fractionSize }} EXRN back to this wallet to receive 10x rewards on it!
            </div>
            <div *ngIf="showNormalEligibility && !inputWallet.dirty" class="alert alert-success">
		    Congratulations, you're allowed to receive regular EXRT rewards on your {{ this.userTotalTokens - this.availableExrnDistributed | number: fractionSize }} EXRN!
            </div>
            <div *ngIf="showCallToAction && !inputWallet.dirty" class="alert alert-warning">
		    You need {{ this._dataService.minimumExrnRequired - this.userTotalTokens | number: fractionSize }} more EXRN from an exchange to receive regular EXRT rewards on {{ this._dataService.minimumExrnRequired - this.totalExrnDistributed | number: fractionSize }} EXRN!
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row" *ngIf="displayHistory">
    <div class="col-6 col-md-4 offset-md-1 col-lg-3 offset-lg-3">
      EXRN Total
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      EXRN from team
    </div>
  </div>
  <div class="row" *ngIf="displayHistory">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-6 col-md-4 offset-md-1 col-lg-3 offset-lg-3">
            <input type="text" name="userTotalTokens" [(ngModel)]="userTotalTokens" required pattern="[0-9]{1,11}" [readonly]="firstSignupHappened" #inputTotalTokens="ngModel">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <input type="text" name="availableExrnDistributed" [(ngModel)]="availableExrnDistributed" required pattern="[0-9]{1,11}" [readonly]="firstSignupHappened" #inputTeamTokens="ngModel">
          </div>
          <div class="col-12 col-md-1 col-lg-1 text-left">
            <button class="btn-block" mat-raised-button (click)="signup()" [disabled]="disableCheckWallet || inputWallet.dirty || inputWallet.invalid || inputTotalTokens.invalid || inputTeamTokens.invalid || +availableExrnDistributed > +userTotalTokens">SIGNUP</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr />


  <mat-accordion>
  <!-- TODO: paginate large quantities of results -->
    <mat-expansion-panel *ngIf="signups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner color="warn" diameter="25" [style.display]="showSpinnerSignups ? 'block' : 'none'"></mat-spinner>
        </mat-panel-title>
        <mat-panel-description>
          Your previous signups ({{ signups['signups'].length }})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="d-none d-md-block col-md-4">Date</div>
        <div class="col-6 col-md-4">EXRN Total</div>
        <div class="col-6 col-md-4">EXRN from team</div>
      </div>
      <hr />
      <div class="row" *ngFor="let signup of signups['signups']">
        <div class="d-none d-md-block col-md-4">{{ signup['date'] | date:'MMM d, y, h:mm a' }}</div>
        <div class="col-6 col-md-4">{{ signup['totalEXRN'] | number: fractionSize }}</div>
        <div class="col-6 col-md-4">{{ signup['teamEXRN'] | number: fractionSize }}</div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="displayHistory">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner color="warn" diameter="25" [style.display]="showSpinnerContributions ? 'block' : 'none'"></mat-spinner>
        </mat-panel-title>
        <mat-panel-description>
          Your contributions ({{ correlations.length + contributions.length }})
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-6">
          ETH sent
          <hr />
          <div class="row">
            <div class="d-none d-md-block col-md-8 col-lg-5">Date</div>
            <div class="d-none d-lg-block col-lg-2">Block</div>
            <div class="d-none d-lg-block col-lg-2">Hash</div>
            <div class="col-md-4 col-lg-3">Amount</div>
          </div>
        </div>
        <div class="col-6">
          EXRN received
          <hr />
          <div class="row">
            <div class="d-none d-md-block col-md-6 col-lg-4">Date</div>
            <div class="d-none d-lg-block col-lg-2">Block</div>
            <div class="d-none d-lg-block col-lg-2">Hash</div>
            <div class="col-md-6 col-lg-4">Amount</div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let corr of correlations">
        <div class="col-6">
          <hr />
          <div class="row" *ngFor="let contr of corr[0]">
            <div class="d-none d-md-block col-md-8 col-lg-5">{{ contr['date'] | date:'MMM d, y, h:mm a' }}</div>
            <div class="d-none d-lg-block col-lg-2">{{ contr['block'] }}</div>
            <div class="d-none d-lg-block col-lg-2"><a href="https://etherscan.io/tx/{{ contr['hash'] }}">{{ contr['hash'].substring(0, 8) }}...</a></div>
            <div class="col-md-4 col-lg-3">{{ contr['value'] }}</div>
          </div>
        </div>
        <div class="col-6">
          <hr />
          <div class="row" *ngFor="let distr of corr[1]">
            <div *ngIf="distr.date" class="d-none d-md-block col-md-6 col-lg-4">{{ distr['date'] | date:'MMM d, y, h:mm a' }}</div>
            <div *ngIf="!distr.date" class="d-none d-md-block col-md-6 col-lg-4">AWAITING</div>
            <div class="d-none d-lg-block col-lg-2">{{ distr['block'] }}</div>
	    <div *ngIf="!distr.hash" class="d-none d-lg-block col-lg-2">{{ distr.hash }}</div>
            <div *ngIf="distr.hash" class="d-none d-lg-block col-lg-2"><a href="https://etherscan.io/tx/{{ distr['hash'] }}">{{ distr['hash'].substring(0, 8) }}...</a></div>

            <div class="col-md-6 col-lg-4">{{ distr['value'] | number: fractionSize }}</div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-md-8 col-lg-2 offset-lg-7">Total</div>
            <div class="col-md-4 col-lg-3">{{ totalEthContributed }}</div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-md-6 col-lg-2 offset-lg-6">Total</div>
            <div class="col-md-6 col-lg-4">{{ totalExrnDistributed | number: fractionSize }}</div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="displayHistory">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner color="warn" diameter="25" [style.display]="showSpinnerOtherRewards ? 'block' : 'none'"></mat-spinner>
        </mat-panel-title>
        <mat-panel-description>
          Your other rewards ({{ distributions.length }})
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-6 col-md-3">Date</div>
        <div class="d-none d-md-block col-md-3">Block</div>
        <div class="d-none d-md-block col-md-3">Hash</div>
        <div class="col-6 col-md-3">Amount</div>
      </div>
      <hr />
      <div class="row" *ngFor="let distr of distributions">
        <div class="col-6 col-md-3">{{ distr['date'] | date:'MMM d, y, h:mm a' }}</div>
        <div class="d-none d-md-block col-md-3">{{ distr['block'] }}</div>
        <div class="d-none d-md-block col-md-3"><a href="https://etherscan.io/tx/{{ distr['hash'] }}">{{ distr['hash'].substring(0, 12) }}...</a></div>
        <div class="col-6 col-md-3">{{ distr['value'] | number: fractionSize }}</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 col-md-3 offset-md-6">Total</div>
        <div class="col-6 col-md-3">{{ totalRewards | number: fractionSize }}</div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="showRefunds()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner color="warn" diameter="25" [style.display]="showSpinnerContributions ? 'block' : 'none'"></mat-spinner>
        </mat-panel-title>
        <mat-panel-description>
          Your refunds ({{ refunds.length }})
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-6">
          ETH sent
          <hr />
          <div class="row">
            <div class="d-none d-md-block col-md-8 col-lg-5">Date</div>
            <div class="d-none d-lg-block col-lg-2">Block</div>
            <div class="d-none d-lg-block col-lg-2">Hash</div>
            <div class="col-md-4 col-lg-3">Amount</div>
          </div>
        </div>
        <div class="col-6">
          ETH refunded
          <hr />
          <div class="row">
            <div class="d-none d-md-block col-md-6 col-lg-4">Date</div>
            <div class="d-none d-lg-block col-lg-2">Block</div>
            <div class="d-none d-lg-block col-lg-2">Hash</div>
            <div class="col-md-6 col-lg-4">Amount</div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let match of refunds">
        <div class="col-6">
          <hr />
          <div class="row" *ngFor="let contr of match[0]">
            <div class="d-none d-md-block col-md-8 col-lg-5">{{ contr['date'] | date:'MMM d, y, h:mm a' }}</div>
            <div class="d-none d-lg-block col-lg-2">{{ contr['block'] }}</div>
            <div class="d-none d-lg-block col-lg-2"><a href="https://etherscan.io/tx/{{ contr['hash'] }}">{{ contr['hash'].substring(0, 8) }}...</a></div>
            <div class="col-md-4 col-lg-3">{{ contr['value'] }}</div>
          </div>
        </div>
        <div class="col-6">
          <hr />
          <div class="row" *ngFor="let distr of match[1]">
            <div class="d-none d-md-block col-md-6 col-lg-4">{{ distr['date'] | date:'MMM d, y, h:mm a' }}</div>
            <div class="d-none d-lg-block col-lg-2">{{ distr['block'] }}</div>
            <div class="d-none d-lg-block col-lg-2"><a href="https://etherscan.io/tx/{{ distr['hash'] }}">{{ distr['hash'].substring(0, 8) }}...</a></div>
            <div class="col-md-6 col-lg-4">{{ distr['value'] }}</div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>
