<app-nav-bar></app-nav-bar>

<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="token-statistics card card-token height-auto">
					<div class="card-innr">
						<div class="token-balance token-balance-with-icon">
							<div class="token-balance-icon">
								<img src="assets/images/logo-light-sm.png" alt="">
							</div>
							<div class="token-balance-text">
								<h6 class="card-sub-title">EXRN Balance</h6>
								<span class="lead">{{ userTotalTokens | number }} <span>EXRN</span></span>
							</div>
						</div>
						<div class="token-balance token-balance-s2">
							<h6 class="card-sub-title">Your Contribution</h6>
							<ul class="token-balance-list">
								<li class="token-balance-sub">
									<span class="lead">{{ userTotalTokens - availableExrnDistributed | number }}</span>
									<span class="sub"> From Exchange</span>
								</li>
								<li class="token-balance-sub">
									<span class="lead">{{ availableExrnDistributed | number }}</span>
									<span class="sub"> From Team</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- .col -->
			<div class="col-lg-8">
				<div class="token-information card card-full-height">
					<div class="row no-gutters height-100">
						<div class="col-md-6 text-center">
							<div class="token-info">
								<img class="token-info-icon" src="assets/images/logo-sm.png" alt="logo-sm">
								<div class="gaps-2x"></div>
								<h1 class="token-info-head text-light">{{ userTotalTokensEXRT | number:'1.0-1' }} EXRT</h1>
                                <h6 class="token-info-sub">1 EXRT = {{ tokenValue_EXRT_USD | number:'1.0-4' }} USD</h6>
							</div>
						</div>
						<div class="col-md-6">
							<div class="token-info bdr-tl">
								<div>
									<ul class="token-info-list">
										<li><span>Your Wallet Address:</span> {{ userAddress | slice:0:5 }}***{{ userAddress | slice:-3 }}</li>
										<li><span>Ticket Symbol:</span>EXRT</li>
                                        <li><span>Latest Application:</span> {{ lastSignupDate | date: 'mediumDate' }}</li>
									</ul>
									<div><a href="javascript:void(0)" class="btn btn-success" (click)="signup()">Apply for EXRT</a></div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- .card -->
			</div><!-- .col -->
			<div class="col-xl-8 col-lg-7">
				<div class="token-transaction card card-full-height">
					<div class="card-innr">
						<div class="card-head has-aside">
							<h4 class="card-title">Team contributions</h4>
						</div>
						<table class="table tnx-table">
							<thead>
								<tr>
									<th>EXRN Received</th>
									<th>ETH Contributed</th>
									<th class="d-none d-sm-table-cell tnx-date">Date</th>
									<th class="tnx-type"><div class="tnx-type-text"></div></th>
								</tr><!-- tr -->
							</thead><!-- thead -->
							<tbody>
								<tr *ngFor="let correlation of correlations">
									<td>
										<tr *ngFor="let distribution of correlation[1]">
											<td>
												<div class="d-flex align-items-center">
													<span class="lead">{{ distribution.value | number }}</span>
												</div>
											</td>
										</tr>
									</td>
									<td>
										<tr *ngFor="let contribution of correlation[0]">
											<td>
												<span>
													<span class="lead">{{ contribution.value | number }}</span>
													<span class="sub"> ETH</span>
												</span>
											</td>
										</tr>
									</td>
									<td>
										<tr *ngFor="let distribution of correlation[1]">
											<td class="d-none d-sm-table-cell tnx-date">
												<span class="sub sub-s2">{{ distribution.date | date }}</span>
											</td>
										</tr>
									</td>
									<td>
										<tr *ngFor="let distribution of correlation[1]">
											<td class="tnx-type">
												<div *ngIf="distribution.date > 0">
													<span class="tnx-type-md badge badge-outline badge-success badge-md">Received</span>
													<span class="tnx-type-sm badge badge-sq badge-outline badge-success badge-md">P</span>
												</div>
												<div *ngIf="distribution.block === 'AWAITING'">
													<span class="tnx-type-md badge badge-outline badge-info badge-md">Waiting</span>
													<span class="tnx-type-sm badge badge-sq badge-outline badge-info badge-md">I</span>
												</div>
												<div *ngIf="distribution.block === 'N/A'">
													<span class="tnx-type-md badge badge-outline badge-danger badge-md">Contact Admin</span>
													<span class="tnx-type-sm badge badge-sq badge-outline badge-danger badge-md">E</span>
												</div>
											</td>
										</tr>
									</td>
								</tr><!-- tr -->
                                
                                <tr *ngFor="let distribution of distributions">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="lead">{{ distribution.value | number }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <span class="lead">0</span>
                                            <span class="sub"> ETH</span>
                                        </span>
                                    </td>
                                    <td class="d-none d-sm-table-cell tnx-date">
                                        <span class="sub sub-s2">{{ distribution.date | date }}</span>
                                    </td>
                                    <td>
                                        <span class="tnx-type-md badge badge-outline badge-warning badge-md">Reward</span>
                                        <span class="tnx-type-sm badge badge-sq badge-outline badge-warning badge-md">B</span>
                                    </td>
								</tr><!-- tr -->
							</tbody><!-- tbody -->
						</table><!-- .table -->
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-5">
				<div class="token-calculator card card-full-height">
					<div class="card-innr">
						<div class="card-head">
							<h4 class="card-title">EXRN Calculation</h4>
							<p class="card-title-text">Enter amount to calculate EXRN tokens.</p>
						</div>
                        
						<div class="token-calc">
							<div class="token-pay-amount">
								<input id="token-base-amount" class="input-bordered input-with-hint" type="text" value="0" (keyup)="calculateEXRN($event)">
								<div class="token-pay-currency">
									<a class="link ucap link-light <!--toggle-tigger toggle-caret-->">ETH</a>
									<div class="toggle-class dropdown-content">
										<ul class="dropdown-list">
											<li><a href="#">BTC</a></li>
											<li><a href="#">LTC</a></li>
											<li><a href="#">USD</a></li>
										</ul>
									</div>
								</div>
							</div>
                        </div>
                        <div class="token-received">
                            <div class="token-eq-sign">=</div>
                            <div class="token-received-amount">
                                <h5 class="token-amount">{{ calculatedAmountEXRN | number:'1.0-0' }}</h5>
                                <div class="token-symbol">EXRN from exchange</div>
                            </div>
                        </div>
                        <div class="token-received">
                            <div class="token-eq-sign">=</div>
                            <div class="token-received-amount">
                                <h5 class="token-amount">{{ calculatedAmountTeamEXRN | number:'1.0-0' }}</h5>
                                <div class="token-symbol">EXRN from team</div>
                            </div>
                        </div>

						<div class="token-buy">
							<a href="https://exrnchain.com/contribute/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">CONTRIBUTE</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- .row -->
		<div class="row">
			<div class="col-xl-8 col-lg-7">
				<div class="token-sale-graph card card-full-height">
					<div class="card-innr">
						<div class="card-head has-aside">
							<h4 class="card-title">EXRT Distribution Graph</h4>
						</div>
						<app-exrt-distro-graph></app-exrt-distro-graph>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-5">
				<div class="token-sales card card-full-height">
					<div class="card-innr">
						<div class="card-head">
							<h4 class="card-title">EXRT Distribution Progress</h4>
						</div>
						<ul class="progress-info">
							<li><span>Distributed</span> {{ circulatingSupplyEXRT | number }} EXRT</li>
							<li class="text-right"><span>TOTAL FOR EXRN HOLDERS</span> {{ distributableEXRT | number }} EXRT</li>
						</ul>
						<div class="progress-bar">
							<div class="progress-percent" (data-percent)="distributedPercentageEXRT" style="width: 75%;"></div>
						</div>

						<span class="card-sub-title mgb-0-5x">Application #{{ rounds?.length }} CLOSES IN</span>
                        <countdown class="countdown" (reached)="roundExpired($event)" [text]="text" units="Days | Hours | Minutes | Seconds" end="{{ this.roundExpiration }}"></countdown>
					</div>
				</div>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .page-content -->

<app-footer></app-footer>