<h2 mat-dialog-title>Successful Application</h2>
<mat-dialog-content class="mat-typography">
  <p>Congratulations, you've successfully registered for this round!</p>
  <p>In case your EXRN balance changes, you will need to apply again before the end of this round.</p>
 
  <hr>
 
  <p><strong>Round</strong> #{{ data.round }}</p>

  <p><strong>Total:</strong> {{ data.total | number }} EXRN</p>

  <p><strong>Team:</strong> {{ data.team | number }} EXRN</p>

  <p><strong>Time:</strong> {{ data.time | date:'medium':'UTC' }} UTC</p>

  <p><strong>Your wallet:</strong> {{ data.wallet }}</p>
  
  <hr>
  
  <p><em>Feel free to take a screenshot of this window as an additional proof of your submission.</em></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-block" color="primary" [mat-dialog-close]="true" cdkFocusInitial>DONE</button>
</mat-dialog-actions>

