<div class="row" *ngIf="showNotification">
	<div class="col-12 alert alert-warning">
		Please allow a couple of seconds for the signups to be validated / shown.
	</div>
</div>

<button class="btn-block" mat-raised-button (click)="export()" [disabled]="false">EXPORT</button>

<mat-form-field>
  <input matInput (keyup)="applyFilterInternal($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table #sortInternal="matSort" [dataSource]="dataSourceInternal" matSort>

    <!-- ETH Wallet Address Column -->
    <ng-container matColumnDef="ETH Wallet Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ETH Wallet Address </th>
      <td mat-cell *matCellDef="let row"> {{ row['ETH Wallet Address'] }} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{ row['Date'] | date:'MMM d, HH:mm' }} </td>
    </ng-container>

    <!-- Total EXRN Column -->
    <ng-container matColumnDef="Total EXRN balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total EXRN balance </th>
      <td mat-cell *matCellDef="let row"> {{ row['Total EXRN balance'] }} </td>
    </ng-container>

    <!-- Bought? -->
    <ng-container matColumnDef="Bought?">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bought? </th>
      <td mat-cell *matCellDef="let row"> {{ row['Bought?'] }} </td>
    </ng-container>

    <!-- Team EXRN Column -->
    <ng-container matColumnDef="Amount bought">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount bought </th>
      <td mat-cell *matCellDef="let row"> {{ row['Amount bought'] }} </td>
    </ng-container>

    <!-- Minimal EXRN held Column -->
    <ng-container matColumnDef="Minimal EXRN held">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimal EXRN held </th>
      <td mat-cell *matCellDef="let row"> {{ row['Minimal EXRN held'] }} </td>
    </ng-container>

    <!-- Actual total EXRN Column -->
    <ng-container matColumnDef="Current EXRN balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Current EXRN balance </th>
      <td mat-cell *matCellDef="let row"> {{ row['Current EXRN balance'] }} </td>
    </ng-container>

    <!-- Actual team EXRN Column -->
    <ng-container matColumnDef="Actual EXRN bought">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actual EXRN bought </th>
      <td mat-cell *matCellDef="let row"> {{ row['Actual EXRN bought'] }} </td>
    </ng-container>

    <!-- Qualified Regular EXRN Column -->
    <ng-container matColumnDef="Qualified Regular EXRN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualified Regular EXRN </th>
      <td mat-cell *matCellDef="let row"> {{ row['Qualified Regular EXRN'] }} </td>
    </ng-container>

    <!-- Qualified Bought EXRN Column -->
    <ng-container matColumnDef="Qualified Bought EXRN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualified Bought EXRN </th>
      <td mat-cell *matCellDef="let row"> {{ row['Qualified Bought EXRN'] }} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="black"> {{ row['Status'] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsInternal"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsInternal;"></tr>
  </table>

  <mat-paginator #paginatorInternal [pageSizeOptions]="[50, 5, 10, 25, 100]"></mat-paginator>
</div>
